<section>
  <div class="container">
    <div class="heading">
      <h1>My Todo-s</h1>
    </div>
    <div class="add-task">
      <form>
        <input type="text" placeholder="Enter your task" name="task" />
        <button type="submit" class="btn btn-submit">Add Task</button>
      </form>
    </div>
    <div class="show-task">
      <ul>
        <li>
          <input type="text" class="input_task" *ngIf="isEdit" name="task" placeholder="Update Task" />

          <div class="task-name" *ngIf="!isEdit">This is custom task</div>
          <div class="task-control-button">
            <button class="btn btn-dlt" *ngIf="!isEdit" type="submit">Delete</button>
            <button class="btn btn-edit" *ngIf="isEdit" type="submit">Update</button>
            <button class="btn btn-edit" *ngIf="!isEdit" (click)="edit()">Edit</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
