<section>
  <div class="container">
    <div class="heading">
      <h1>My Todo-s</h1>
    </div>
    <div class="add-task">
      <form [formGroup]="task" (ngSubmit)="new_task_submit(task.value)">
        <input
          type="text"
          placeholder="Enter your task"
          name="task"
          formControlName="new_task"
        />
        <span *ngIf="user && !user.valid && user.touched"></span>

        <button type="submit" class="btn btn-submit" [disabled]="!task.valid">
          Add Task
        </button>
      </form>
    </div>

    <table class="table">
      <tr class="table-head">
        <th>S.No</th>
        <th>Task</th>
        <th>Description</th>
        <th>Summary</th>
        <th></th>
      </tr>

      <tr>
        <td>1</td>
        <td>coding</td>
        <td>Description</td>
        <td>Summary</td>
        <td>
          <button class="btn btn-dlt">Delete</button>
          <button class="btn btn-upt">Edit</button>
        </td>
      </tr>
    </table>
  </div>
</section>
