<section>
  <div class="container">
    <div class="heading">
      <h1>My Todo-s</h1>
    </div>
    <div class="add-task">
      <form [formGroup]="task" (ngSubmit)="new_task_submit(task.value)">
        <input
          type="text"
          placeholder="Enter your task"
          name="task"
          formControlName="new_task"
        />
        <span *ngIf="user && !user.valid && user.touched"></span>

        <button type="submit" class="btn btn-submit" [disabled]="!task.valid">
          Add Task
        </button>
      </form>
    </div>
    <div class="show-task">
      <ul>
        <li *ngFor="let item of show">
          <form [formGroup]="update_task" (ngSubmit)="submit_update(item.id)">
            <div *ngIf="!isEdit" class="task-name">{{ item.new_task }}</div>

            <input
              class="task-input"
              *ngIf="isEdit"
              type="text"
              placeholder="update Your Task"
              formControlName="input_update"
            />
            <div class="task-control-button">
              <button
                *ngIf="isEdit"
                (click)="edit()"
                class="btn btn-dlt"
                type="button"
              >
                Cancel
              </button>

              <button
                *ngIf="!isEdit"
                class="btn btn-dlt"
                type="button"
                (click)="delete(item.id)"
              >
                Delete
              </button>
              <button
                (click)="edit()"
                *ngIf="!isEdit"
                class="btn btn-upt"
                type="button"
              >
                Edit
              </button>

              <button *ngIf="isEdit" class="btn btn-upt" type="submit">
                Update
              </button>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</section>
